# miscellaneous
*swp

# executables
a.out

nnot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa

# oasis relevant files
*.mllib
*.mldylib
myocamlbuild.ml
setup.ml
setup.data
setup.log
META
configure
Makefile

# ocamlbuild working directory
_build

# ocamlbuild targets
*.byte
*.native

# Merlin configuring file for Vim and Emacs
.merlin

# Logging files from tests
*.log
